<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="error-template text-center">
                <h1>
                    Oops!</h1>
                <h2>
                    500 SERVER IS BUSY</h2>
                <div class="error-details">
                    Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.
                </div>
                <div class="error-actions">
                    <a href="./" class="btn btn-primary btn-lg">
                        Turn to Home </a>
                </div>
            </div>
        </div>
    </div>
</div>